@font-face {
    font-family: "Spartan Regular";
    src: url('fonts/static/Spartan-Regular.ttf') format('Truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "Spartan Regular";
    font-size: 16px;
}